body {
    background-color: white;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

.container{
    max-width: 1350px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 30px rgba(24, 24, 26, 0.658);
    
  
}


.item-header img{
    height: 110px;
    border-bottom: black;
}

.item-header ul li{
    display: inline;
    margin-right: 25px;
    font-size: 25px;
}

.item-header ul li a{
    color: black;
    transition: 0.3s;
   
}

.item-header ul li a:hover{
    color: #d97003;
    
}

.item-header button{
    border-radius: 25px;
    padding: 10px 30px;
    
    cursor: pointer;
    height: 50px;

}

.btn-cadastro{
    background-color: rgb(253, 251, 251);
    color: rgb(3, 3, 3);
    transition: .3s;
    font-size: 15px;
   border: 2px solid white;
   box-shadow: 0 0 5px rgb(85, 84, 84);

}

.btn-cadastro:hover{
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
}

.btn-login {
    background-color: black;
    color: white;
    transition: .3s;
    font-size: 15px;
   border: 2px solid #949d6a;
   box-shadow: 0 0 5px rgb(59, 58, 58);

}



.btn-login:hover {
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
}


.banner {
    align-items: center;
    height: 500px;
   
}

/* .cabeçalho h1 {
     font-size: 30px;
} */


.noticias {
    display: flex;
    margin: 70px 130px 0px 0px;
    
    
}

.noticias img {
    width: 400px;
    height: 300px;
    margin-left: 37px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(59, 58, 58);
}

.noticias h2 {
    text-align: center;
    margin: 10px 10px 10px 40px;
    text-align: center;
    
}


.noticias button {
    border: 1px solid transparent;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    color: darkblue;
}

.noticias button:hover {
    border: 1px solid transparent;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: #fda623;
}

.infosIndio button {
    border: 1px solid transparent;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 1000px;
}

.infosIndio button:hover {
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
    border-radius: 10px;
}


.infosIndio img {
    width: 30px;
    height: 30px;
    
}


.infosAm button {
    border: 1px solid transparent;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 1000px;
}

.infosAm button:hover {
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
    border-radius: 10px;
}


.infosAm img {
    width: 30px;
    height: 30px;
    
}


.infosPt button {
    border: 1px solid transparent;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 1000px;
}

.infosPt button:hover {
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
    border-radius: 10px;
}


.infosPt img {
    width: 30px;
    height: 30px;
    
}

.cabeçalho {
    margin-top: 50px;
}

.texto-um {
    position: relative;
    color: rgb(250, 246, 246);
    top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0.5em 0.5em 0.5em rgb(58, 56, 56);
    opacity: 0.85;
    
    
    
}


.info-um {
    background-image: url(../img/fundonoticia.jpg);
    height: 300px;
    box-shadow: 0 0 5px rgb(59, 58, 58);

    
    
}


.all-infoum {
    margin: 0;
    padding: 0;
    height: 300px;
}

.texto-dois {
    margin: 30px 30px 20px 30px;
} 

.texto-dois h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.texto-dois p {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 30px 5px 30px;
    text-align: start;
}
 
.box {
    display:list-item;
    margin: 30px 0px 100px 50px;
    float: left;
}

.box-item {
    align-items: center;
    display: flex;
    
    
}

.texto-tres {
    margin: 30px 30px 20px 30px;
}

.texto-tres p {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 250px 30px 5px 30px;
    text-align: start;
}