body {
    background-color: white;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
   
    
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    
    
}

.container{
    max-width: 1350px;
    width: 100%;
    margin: auto;
    text-align: center;
}



.header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 30px rgba(24, 24, 26, 0.658);
    transition: .3s;
  
}


.item-header img{
    height: 110px;
    border-bottom: black;
    transition: .3s;
}

.item-header ul li{
    display: inline;
    margin-right: 25px;
    font-size: 25px;
}

.item-header ul li a{
    color: black;
    transition: .3s;
}

.item-header ul li a:hover{
    color: #d97003;
    transition: .3s;
}

.item-header button{
    border-radius: 25px;
    padding: 10px 30px;
    
    cursor: pointer;
    height: 50px;

}

.btn-cadastro{
    background-color: rgb(253, 251, 251);
    color: rgb(3, 3, 3);
    transition: .3s;
    font-size: 15px;
   border: 2px solid white;
   box-shadow: 0 0 5px rgb(85, 84, 84);

}

.btn-cadastro:hover{
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
}

.btn-login {
    background-color: black;
    color: white;
    transition: .3s;
    font-size: 15px;
   border: 2px solid #949d6a;
   box-shadow: 0 0 5px rgb(59, 58, 58);

}



.btn-login:hover {
    background: #fda623;
    border: 1px solid #fda623;
    color: white;
    transition: .3s;
}





.banner{
    height: 550px;
    padding: 0% 0;
    width: 100%;
    text-align: center;
    display: flex;
    
    /*border-bottom: 5px inset rgb(223, 216, 216);*/
   
    overflow-x: hidden;
    
    
    
    
}





.banner h1 {
    
    text-align: right;
    padding-top: 100px;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 27, 27);
    text-shadow: 0.1em 0.1em 0.2em rgb(131, 129, 129);
    margin: 1px 1px 1px 1px;

}

.audio h4 {
    font-size: 15px;
    color: rgb(134, 132, 132);
    margin-left: 10px;
    
}

.audio {
    margin: 0;
    position: initial;
    
}




.wall-info{
  
    margin-top: 150px;
    margin-bottom: 150px;
/* background-image: url(../img/fundoBrancoFolhas.jpg);*/
    
  
}
.info3-img {
    margin-bottom: 100px;
}



.fundo {
    background-attachment: fixed;
    border-bottom: 0.5px solid rgb(134, 132, 132) ;
    background-image: url(../img/fundofloresta2.jpg);
    box-shadow: 0 0 40px rgba(10, 10, 10, 0.658);
    border-top: 0.5px solid rgb(134, 132, 132);
}




.btns  {
    display: flex;
    margin-left: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.botao button {
    margin-left: 5px;
    background-color: black;
    color: white;
    padding: 3px 7px 3px 7px;
    width: auto;
    height: 50px;
    letter-spacing: 1px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(59, 58, 58);
}

.botaoEsc button {
    margin-left: 630px;
    margin-top: 100px;
    background-color: black;
    color: white;
    padding: 3px 7px 3px 7px;
    width: auto;
    height: 50px;
    letter-spacing: 1px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 100px;
    box-shadow: 0 0 5px rgb(59, 58, 58);
}

.botaoEsc button:hover {
    background: #d97003;
    border: 1px solid #d97003;
    color: white;
    transition: .3s;
}

.botao button:hover {
    background: #d97003;
    border: 1px solid #d97003;
    color: white;
    transition: .3s;
}



.wall-all {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin-bottom: 50px;
   

    
}

.first-img img{
    height: 450px;
    border-radius: 10px;
}

.first-texto{
    text-align: justify;
    width: 50%;
    
}

.first-texto h2{
    text-align: center;
    color: black;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 30px;
    
    
}

.first-texto p {
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
    margin-top: 30px;
    
}



.second-img img{
    height: 300px;
    border-radius: 10px;
}

.third-imgP img {
    border-radius: 10px;
}

.second-texto{
    text-align: justify;
    width: 50%;
}

.second-texto h2{
    text-align: center;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 30px;
    
}

.second-texto p {
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
}




.third-texto {
    text-align: justify;
    width: 50%;
}

.third-texto img {
    text-align: justify;
    width: 50%;
}

.third-texto h2 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 30px;
    
}

.third-texto h3 {
    font-size: 20px;
    text-align: center;
}

.third-texto p {
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
}

.third-img img {
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

.third-texto2  {
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
    margin-left: 35px;
    margin-right: 35px;
}

.infofourth h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    letter-spacing: 1px;

}

.infofourth p {
    align-items: center;
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
    letter-spacing: 1px;
    font-size: 17px;
    text-align: initial;
    margin-left: 40px;
    margin-right: 40px;

}

.infofourth {
    margin-bottom: 50px;
}

.fourth-img img{
    height: 300px;
    border-radius: 10px;
}

.fourth-texto{
    text-align: justify;
    width: 50%;
}

.fourth-texto h1{
    text-align: center;
    color: black;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 30px;
    
}

.fourth-texto h2 {
    text-align: center;
    color: black;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 20px;
}

.fourth-texto p {
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
}

.fourth-texto2 {
    align-items: center;
    margin-bottom: 70px;
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
    text-align: initial;
    margin-left: 35px;
    margin-right: 35px;
}

.fourth-texto2 h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 40px;
}



.barra {
    background-color: rgb(179, 176, 176);
    height: 1px;
    width: 100%;
    
    box-shadow: 0 0 12px rgb(107, 107, 109);
}






.footer{
    width: 100%;
    display: flex;
    align-content: center;
    background-color: white;
    box-shadow: 0 0 30px rgba(24, 24, 26, 0.658);
    color: white;
    height: 200px;
    font-size: 20px;
    
}



.item-footer{
    margin: auto;
    width: 15%;
    padding: 40px 0;
    color: black;
    cursor: pointer;
    
}

.item-footer img{
    height: 100px;
    
}


.grafico h4 {
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}
.grafico h2 {
    margin-top: 100px;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 20px;
}

.Chart {
    width: 80%;
    margin-left: 200px;
}